<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esc.fms.dao.DeptRefStaffMapper" >
  <resultMap id="BaseResultMap" type="com.esc.fms.entity.DeptRefStaff" >
    <id column="RecordID" property="recordID" jdbcType="INTEGER" />
    <result column="DeptID" property="deptID" jdbcType="INTEGER" />
    <result column="StaffRecordID" property="staffRecordID" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    RecordID, DeptID, StaffRecordID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deptrefstaff
    where RecordID = #{recordID,jdbcType=INTEGER}
  </select>
  
  <select id="getDeptsByStaffRecordID" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select DeptID from deptrefstaff
    where StaffRecordID = #{staffRecordID,jdbcType=INTEGER}
    order by DeptID;
  </select>

  <delete id="deleteByStaffRecordID" parameterType="java.lang.Integer" >
    delete from deptrefstaff
    where StaffRecordID = #{staffRecordID,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByStaffRecordIDAndDeptID" >
    delete from deptrefstaff
    where StaffRecordID = #{staffRecordID,jdbcType=INTEGER} and DeptID = #{deptID,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deptrefstaff
    where RecordID = #{recordID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esc.fms.entity.DeptRefStaff" >
    <selectKey resultType="java.lang.Integer" keyProperty="recordID" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into deptrefstaff (DeptID, StaffRecordID)
    values (#{deptID,jdbcType=INTEGER}, #{staffRecordID,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.esc.fms.entity.DeptRefStaff" >
    <selectKey resultType="java.lang.Integer" keyProperty="recordID" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into deptrefstaff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptID != null" >
        DeptID,
      </if>
      <if test="staffRecordID != null" >
        StaffRecordID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptID != null" >
        #{deptID,jdbcType=INTEGER},
      </if>
      <if test="staffRecordID != null" >
        #{staffRecordID,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esc.fms.entity.DeptRefStaff" >
    update deptrefstaff
    <set >
      <if test="deptID != null" >
        DeptID = #{deptID,jdbcType=INTEGER},
      </if>
      <if test="staffRecordID != null" >
        StaffRecordID = #{staffRecordID,jdbcType=INTEGER},
      </if>
    </set>
    where RecordID = #{recordID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esc.fms.entity.DeptRefStaff" >
    update deptrefstaff
    set DeptID = #{deptID,jdbcType=INTEGER},
      StaffRecordID = #{staffRecordID,jdbcType=INTEGER}
    where RecordID = #{recordID,jdbcType=INTEGER}
  </update>
</mapper>