<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esc.fms.dao.MenuPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.esc.fms.entity.MenuPermission" >
    <result column="MenuName" property="menuName" jdbcType="VARCHAR" />
    <result column="ParentID" property="parentID" jdbcType="INTEGER" />
    <result column="PermissionID" property="permissionID" jdbcType="INTEGER" />
    <result column="PermissionDesc" property="permissionDesc" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getMenuPermissionList" resultMap="BaseResultMap" >
      select m.MenuName,m.ParentID,p.permissionID,p.PermissionDesc
      from sysmenu m,permission p
      where m.MenuCode = p.MenuCode
      order by m.MenuID,p.PermissionID;
  </select>


</mapper>